/* --------------CSS RESET------------------------------ */

/* 1. Using easy to style box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Removing default margin */
* {
    margin: 0;
}


/* 5. Improving media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 7. Avoiding text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 8. Better line wrapping */
p {
    text-wrap: pretty;
}


/* Smooth scrolling */
html {
    scroll-behavior: smooth;
}